<a href="https://colab.research.google.com/github/yongsa-nut/SF251_67_2/blob/main/SF251_In_Class_Exercise_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# In-Class Exercise 6

Once done, upload to MS Teams

## Pokemon Dataset Part 6

Data from https://www.kaggle.com/datasets/cristobalmitchell/pokedex

In [ ]:
!wget https://raw.githubusercontent.com/yongsa-nut/SF251_67_2/refs/heads/main/data/pokemon.csv

In [2]:
import pandas as pd
from plotnine import *

In [ ]:
#Load the data
pokemon = pd.read_csv("pokemon.csv")
pokemon.head()

**Q1**: Map: Update `gen` column from roman numbers to numerical numbers.

**Q2**: Create a new dataset contains maximum values for all six stats of each gen
- Don't forget to `reset_index`
- try to do it using `apply`

**Q3**: Sort the pokemon by their `hp` from highest to lowest).

**Webcrawling**

In this question, we will scrap pokemon from serebii.net by ourselves.

The code snippet below provides a starting point.

You may want to start by checking the actual website: https://www.serebii.net/pokemon/nationalpokedex.shtml

In [7]:
url = 'https://www.serebii.net/pokemon/nationalpokedex.shtml'

df_pokemon = pd.read_html(url, encoding='latin1', header=1)[0] # Get the first table

df_pokemon.head()

/usr/local/lib/python3.10/dist-packages/bs4/__init__.py:228: UserWarning: You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.

,No.,Pic,Name,Type,Abilities,HP,Att,Def,S.Att,S.Def,Spd
0,#0001,NaN,Bulbasaur,NaN,Overgrow Chlorophyll,45.0,49.0,49.0,65.0,65.0,45.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,#0002,NaN,Ivysaur,NaN,Overgrow Chlorophyll,60.0,62.0,63.0,80.0,80.0,60.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,#0003,NaN,Venusaur,NaN,Overgrow Chlorophyll,80.0,82.0,83.0,100.0,100.0,80.0

A few things to note:
- Pandas read_html could not read images (pic and type are NaN)
- There are extra empty rows between each pokemon
- Abilities column include two abilities.

For this exercise, we will ignore the first one and focus on the last two.

**Q4**: Remove all extra empty rows between each pokemon (There are many ways)

**Q5** Create two new columns: `Ability_1` and `Ability_2`