<a href="https://colab.research.google.com/github/yongsa-nut/SF251_67_2/blob/main/SF251_In_Class_Exercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# In-Class Exercise 1

Once done, upload to MS Teams

## Pokemon Dataset Part 1

Data from https://www.kaggle.com/datasets/cristobalmitchell/pokedex

- First, let's explore the data!
- Click the link above and read through everything.
- The data is also on the class's github.

In [ ]:
!wget https://raw.githubusercontent.com/yongsa-nut/SF251_67_2/refs/heads/main/data/pokemon.csv

In [3]:
import pandas as pd

**Q1**: Load the data

**Q2**: Check the data using `head()`

**Q3**: How many Pokemon are there in the dataset?

**Q4**: List all column names in the dataset

**Q5**: Rename the `national_number` column to `id_number`. Then print the column name.

**Q6**: Print out all rows of the column `english_name` using `loc`, `iloc` and `[]`

**Q7**: List all unique Pokemon types in `primary_type`

**Q8**: How many Pokemon are there of each primary type?

**Q9**: Print the english name of all Legendary Pokemon that have attack greater than 100
- Extra: print both english name and attack.

**Q10**: What is the average Attack and Defense for each Pokemon primary type?
- Hint: Use `group_by`